*{
	font-family: $body_font;
}
body{
	background-color: #E1E1E1;
	.team img{
		@include photos();
	}
	/*navegador*/
	.btn, .btn-large{
		background-color: $rosado_btn_nav;
	}
	nav{
		background-color: rgba(0,0,0,0);
		box-shadow: none;
	}
	.navbar-fixed{
		position: fixed;
		width: 100%;
		z-index: 100;
		.logo{
			@include logo();
		}
	}
	/*primera caja*/
	section div.container.primera_caja{
		@include primera_caja();

		h6.example-text{
			padding: 8%;
			font-size: 18px;
			margin-bottom: -30px;
			color: $body_font_color;
		}
		div i.fa.fa-reorder.center-align, i.fa.fa-th-list.center-align, i.fa.fa-th.center-align{
			font-size: 45px;
    		margin-left: 45%;
		}
		div i.fa.fa-reorder.center-align{
			color: #E91E63;
		}
		div i.fa.fa-th-list.center-align{
			color:#00BCD4;
		}
		div i.fa.fa-th.center-align{
			color: green;
		}
		h5.center-align{
			font-weight: bold;
		}
		p.example-text.center-align{
			padding: 15%;
    		margin-top: -50px;
    		font-size: 16px;
		}
	}
	/*segunda Who we are now*/
	section div.container.we-are{
		@include we-are();
		img.photos{
			width: 100%;
		}
		div.col.m6.caja-texto-we{
			padding-left: 8%;
    		padding-top: 2%;
    		h2{
    			font-weight: bold;
    		}
    		h5{
    			font-size: 20px;
    		}
		}
	}
	/*productos*/
	section div.container.productos{
		background-color: #F0F0F0;
		width: $img-responsive;
		div.col.m12.s12.caja-text-product{
			margin: 30px;
		}
		h3.center-align{
			font-weight: bold;
		}
		h6.center-align{
			color: $body_font_color;
			font-size: 26px;
		}
		div.img-productos img{
			@include imagen-tarjeta();
		}
		div.card.caja-card{
			@include caja-card();
		}
		div.img-productos img{
			border-radius: 10px;
		}
		div.img-productos img:hover{
			@include transformar();
		}
		div.card-content{
			padding: 24px;
    		padding-top: 370px;
    		border-radius: 0 0 2px 2px;
    		p.center-align.rosa{
    			@include parrafo-rosa();
    		}
    		span.card-title.center-align{
    			font-size: 16px;
    			font-weight: bold;
    		}
    		p.center-align, p.left{
    			color:#C8C8C8;
    		}	
		}
	}

}

					
												