*{	
	font-family: $body_font;
}
body{
	background-color:#E1E1E1;
}
nav{
	background-color: rgba(0,0,0,0);
	box-shadow: none;
}
.navbar-fixed{
	position: fixed;
    width: 100%;
    z-index: 100;
}
.navbar-fixed {
	.logo{
		font-weight: 100;
	    font-size: 19px;
	    margin-left: 7%;
	    color: white;
	}
}
.btn, .btn-large {
	background-color:$rosado_btn_nav;
}
/*
.navbar-nav{
	li:hover{
		background-color:$background_uno;
		a:hover{
			color:$color_text_titulo;
		}
	}
}
.seccion_uno{
	background-color:$background_uno;
	padding-top:$padding;
	h1, h3{
		color:$color_text_titulo;
		text-align:$text_center;
	}
}

.seccion_dos{
	background-color:$background_dos;
	padding:$padding_footer;
	/*para dar estilos predefinidos usando el archivo excel llama a mixnin
	@include excel();
}
.seccion_tres{
	background-color:$background_dos;
	padding:$padding_footer;
	.desktop{
		width:$width_desktop;
		padding:$padding;
	}
	h1, h2, h4 {
		text-align: $text_center;
	}
	p{
		@include excel();
	}
}
@media (max-width: 600px){
	.seccion_uno{
		background-color:$background_uno;
		padding-top:$padding_media;
	}
}
*/