@mixin photos(){
	width: 100%;
}
@mixin contenedor(){
	width: $img-responsive;
	height:$img-responsive;
}
@mixin logo(){
	font-weight: 100;
	font-size: 19px;
	margin-left: 7%;
	color: #fff;
}
@mixin primera_caja(){
	height: 500px;
	margin-top: 270px;
	background-color: white;
	position: relative;
	width: 100%;
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
}
@mixin we-are(){
	height: 900px;
	width: 100%;
	background-image: url('../img/img_city.jpg');
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
/*tarjeta*/
@mixin caja-card(){
    background-color: white;
    height: 600px;
    border-radius: 10px;
    margin-top: -370px;
    width: 90%;
    left: 15px
}
@mixin transformar(){
	transform: translateY(-25px);
	box-shadow: 0 1px 5px rgba(82, 80, 80, 0.85);
	position: relative;
	z-index: 10;
	transition: .3s ease-out;
    transition-property: initial;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: initial;
}
@mixin imagen-tarjeta(){
	width: 80%;
	position: relative;
   	z-index: 1;
    top: -20px;
    left: 30px;
}
@mixin parrafo-rosa(){
	color: #EC417B;
    font-weight: bolder;
}
/*portafolio*/
@mixin imagenes-portafolio(){
	margin-left: 5%;
	border-radius:5px;
	display: block;
  	width: 90%;
  	height: auto;
  	box-shadow: 0 3px 5px rgba(82, 80, 80, 0.85);
}
@mixin overlay(){
	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 100%;
  	width: 100%;
  	opacity: 0;
  	transition: .5s ease;
  	background-color: #008CBA;
}
@mixin caja-responsive{
	width:$img-responsive;
	background-color:#fff;
	height: $img-responsive;
	position: relative;

}
/*Choose a plan for your next project*/
@mixin caja-blanca-choose{
	background-color: white;
    margin: 2%;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(82, 80, 80, 0.85);
}
@mixin caja-gris-choose{
    margin: 2%;
    padding: 2%;
}
@mixin boton-rosado{
	background-color:$rosado_btn_nav;
	border:none;
	padding: 10px;
	border-radius: 5px;
	color: white;
	font-weight:bolder;
}
/*Our Clients Love Us*/
@mixin caja-texto(){
	padding: 10%;
}
@mixin news-imagen(){
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 5%;
	top: 260px;
    
    background-image: url(../img/about.jpg);
}
/*overlay sombra*/
@mixin oscurecer(){
	background-color: rgba(40, 43, 43, 0.57);
	width: 100%;
	height:100%;
}
/**/
@mixin imagen-get(){
	background-image:url('../img/img_city.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 5%;
	top: 241px;
}
/*slider*/
@mixin slider-uno(){
	background-image:url('../img/img_slider_1.jpg');
	background-size: cover;
}
@mixin slider-dos(){
	background-image:url('../img/img_slider_2.jpg');
	background-size: cover;
}
/*team*/
@mixin imagen-team(){
	width:60%;
	margin: 0 auto;
	border-radius:10px;
	box-shadow: 0 3px 5px rgba(82, 80, 80, 0.85);
	margin-left: 15%;
}
/*form-contact*/
@mixin titulo-formulario(){
	background-color:$rosado_btn_nav;
	border-radius: 5px;
    width: 77%;
    position: relative;
    top: 30px;
    z-index: 1;
    left: 2%;
    height: 14vh;
    box-shadow: 0px 10px 15px #888888;
    color: white;
}