@mixin photos(){
	width: 100%;
}
@mixin contenedor(){
	width: $img-responsive;
	height:$img-responsive;
}
@mixin logo(){
	font-weight: 100;
	font-size: 19px;
	margin-left: 7%;
	color: #fff;
}
@mixin primera_caja(){
	height: 500px;
	margin-top: 270px;
	background-color: white;
	position: relative;
	width: 100%;
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
}
@mixin we-are(){
	height: 900px;
	width: 100%;
	background-image: url('../img/img_city.jpg');
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
/*tarjeta*/
@mixin caja-card(){
    background-color: white;
    height: 600px;
    border-radius: 10px;
    margin-top: -370px;
    width: 90%;
    left: 15px
}
@mixin transformar(){
	transform: translateY(-25px);
	box-shadow: 0 1px 5px rgba(82, 80, 80, 0.85);
	position: relative;
	z-index: 10;
}
@mixin imagen-tarjeta(){
	width: 80%;
	position: relative;
   	z-index: 1;
    top: -20px;
    left: 30px;
}
@mixin parrafo-rosa(){
	color: #EC417B;
    font-weight: bolder;
}
/*portafolio*/
@mixin imagenes-portafolio(){
	margin-left: 5%;
	border-radius:5px;
	display: block;
  	width: 90%;
  	height: auto;
  	box-shadow: 0 3px 5px rgba(82, 80, 80, 0.85);
}
@mixin hide-portafolio(){
	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 100%;
  	width: 100%;
  	opacity: 0;
  	transition: .5s ease;
  	background-color: #008CBA;
}
@mixin caja-responsive{
	width:$img-responsive;
	background-color:#fff;
	height: $img-responsive;
	position: relative;

}
/*Choose a plan for your next project*/
@mixin caja-blanca-choose{
	background-color: white;
    margin: 2%;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(82, 80, 80, 0.85);
}
@mixin caja-gris-choose{
    margin: 2%;
    padding: 2%;
}
@mixin boton-rosado{
	background-color:$rosado_btn_nav;
	border:none;
	padding: 10px;
	border-radius: 5px;
	color: white;
	font-weight:bolder;
}
/*Our Clients Love Us*/
@mixin caja-texto(){
	padding: 10%;
}