@mixin photos(){
	width: 100%;
}
@mixin logo(){
	font-weight: 100;
	font-size: 19px;
	margin-left: 7%;
	color: #fff;
}
@mixin primera_caja(){
	height: 500px;
	margin-top: 270px;
	background-color: white;
	position: relative;
	width: 100%;
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
}
@mixin we-are(){
	height: 900px;
	width: 100%;
	background-image: url('../img/img_city.jpg');
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
/*tarjeta*/
@mixin caja-card(){
    background-color: white;
    height: 600px;
    border-radius: 10px;
    margin-top: -370px;
    width: 90%;
    left: 15px
}
@mixin transformar(){
	transform: translateY(-25px);
	box-shadow: 0 1px 5px rgba(82, 80, 80, 0.85);
	position: relative;
	z-index: 10;
}
@mixin imagen-tarjeta(){
	width: 80%;
	position: relative;
   	z-index: 1;
    top: -20px;
    left: 30px;
}
@mixin parrafo-rosa(){
	color: #EC417B;
    font-weight: bolder;
}